{% if post.slug == 'dashboard' and user.roles.member %}
  {% set intro = dashboard_member_intro %}
{% elseif post.slug == 'dashboard' and user.roles.partner %}
  {% set intro = dashboard_partner_intro %}
{% else %}
  {% set intro = post.intro %}
{% endif %}

{% if is_front_page %}
  <h1 class="is-vishidden">{{ site.title }}</h1>
{% else %}
  <div class="o-page-title u-spacing u-align-center l-wrap">
    <h1>{{ post.display_title ? post.display_title : post.title }}</h1>
    {% if intro %}
      <div class="o-intro l-container--l u-align--center">{{ intro }}</div>
    {% endif %}
    {% if post.button %}
      <a href="{{ post.button.url }}" class="o-button--primary" target="{{ post.button.target ? post.button.target : '_self' }}">{{ post.button.title ? post.button.title : 'Learn More' }}</a>
    {% endif %}
  </div>
{% endif %}