{% if cards.heading or cards.description or cards.items %}
  <section class="c-section-cards o-section">
    <div class="c-section-cards--inner l-wrap l-container u-spacing--double">
      {% if cards.heading or cards.description %}
        <div class="c-section-cards__header u-align--center">
          {% if cards.heading %}
            <h2 class="c-section-cards__heading o-heading--xl">{{ cards.heading }}</h2>
          {% endif %}
          {% if cards.description %}
            <div class="c-section-cards__description o-rte-text">{{ cards.description }}</div>
          {% endif %}
        </div>
      {% endif %}
      {% if cards.items %}
        <div class="c-section-cards__items">
          <div class="c-cards u-animation__delay" bp="grid">
            {% for post in cards.items %}
              <div class="c-card u-spacing js-inview" bp="{{ loop.length == 4 ? '6@md 3@lg' : '4@md' }}" data-animation="animate__animated animate__fadeInUp">
                {% if post.card_image %}
                  <picture>
                    <img src="{{ Image(post.card_image).src|resize('medium') }}" alt="{{ Image(post.card_image).alt }}" />
                  </picture>
                {% endif %}
                {% if post.card_title %}
                  <h3 class="c-card__title o-heading--m">{{ post.card_title }}</h3>
                {% endif %}
                {% if post.card_description %}
                  <div class="c-card__description">{{ post.card_description }}</div>
                {% endif %}
                {% if post.card_link %}
                  <a href="{{ post.card_link.url }}" class="c-card__button o-button--secondary" target="{{ post.card_link.target ? post.card_button.target : '_self' }}">{{ post.card_button.title ? post.card_button.title : 'Learn More' }}</a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if cards.buttons %}
        <div class="c-section-cards__buttons">
          {% for post in cards.buttons %}
            <a href="{{ post.card_button.url }}" class="o-button--primary" target="{{ post.card_button.target ? post.card_button.target : '_self' }}">{{ post.card_button.title ? post.card_button.title : 'Learn More' }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
