{% if badges.heading or badges.description or badges.items %}
  <section class="c-section-badges o-section">
    <div class="c-section-badges--inner l-wrap l-container u-spacing--double">
      {% if badges.heading or badges.description %}
        <div class="c-section-badges__header u-align--center u-spacing">
          {% if badges.heading %}
            <h2 class="c-section-badges__heading o-heading--xl">{{ badges.heading }}</h2>
          {% endif %}
          {% if badges.description %}
            <div class="c-section-badges__description o-rte-text">{{ badges.description }}</div>
          {% endif %}
        </div>
      {% endif %}
      {% if badges.items %}
        <div class="c-section-badges__items">
          <div class="c-badges u-animation__delay" bp="grid">
            {% for item in badges.items %}
              <div class="c-card-badge {{ item.background ? ' c-card-badge--dark' }} u-spacing js-inview" bp="{{ loop.length == 4 ? '6@md 3@lg' : '4@md' }}" data-animation="animate__animated animate__fadeInUp">
                {% if item.image %}
                  <picture>
                    <img src="{{ Image(item.image).src }}" alt="{{ Image(item.image).alt }}" />
                  </picture>
                {% endif %}
                <div class="c-card-badge__footer">
                  <a download="{{ Image(item.image).alt }}" href="{{ Image(item.image).src }}">Download</a>
                  <div class="o-link js-copy-link">
                    Copy Embed Code<span class="o-icon o-icon--small">{% include "@atoms/icons/link.twig" %}</span>
                    <code class="is-vishidden">
                      <a href="{{ site.url }}">
                        <img loading="lazy" style="margin: 0 auto 10px auto; display: block;" src="{{ Image(item.image).src }}" alt="RVspotDrop - find canceled or unsold campsites" width="200" height="133" />
                        <p style="text-align: center; color:#608EBC; font-size: 16px; font-family:arial;">No sites? Sign up for availability alerts</p>
                      </a>
                    </code>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
