{% set base_class = dashboard_nav.base_class|default('c-dashboard-nav') %}

{% if dashboard_nav.name == "Dashboard Navigation" %}
  <nav role="navigation" class="{{ bem_classes(base_class, dashboard_nav.element, dashboard_nav.modifiers, dashboard_nav.extra) }}">
    {% if dashboard_nav.items %}
      <ul class="{{ bem_classes(base_class, 'parent-list') }}">
        {% for item in dashboard_nav.get_items %}
          <li class="{{ bem_classes(base_class, 'parent-list-item') }}">
            <a href="{{ item.url }}" class="{{ bem_classes(base_class, 'link') }} js-link">
              {% include "@atoms/icons/icon.twig" with {
                "icon": {
                  "name": item.attr_title,
                  "modifiers": "medium",
                  "extra": bem_classes(base_class, 'icon')
                }
              } %}
              <span>{{ item.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
{% endif %}

